@import url('https://v1.fontapi.ir/css/Koodak');
*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Koodak, sans-serif;
    overflow: hidden;
}

body{
    color: black;
    background: white;
}

header{
    height: 25px;
    width: 100%;

    & .drag-region{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        -webkit-app-region: drag;

        & button{
            width: 40px;
            border: none;
            outline: none;
            background: none;
            color: wheat;
        }

        & .close{
            &:active{
                background-color: red;
            }

            &:hover{
                background-color: red;
            }
        }

        & .size{
            &:active{
                background-color: rgb(85, 85, 85);
            }
            &:hover{
                background-color: rgb(85, 85, 85);
            }
        }

        & .minimize{
            &:active{
                background-color: rgb(85, 85, 85);
            }
            &:hover{
                background-color: rgb(85, 85, 85);
            }
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            & p{
                overflow: hidden;
                width: 10px;
                height: 1px;
                background-color: black;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

button{
    color: white !important;
}
span{
    color: white;
}

p{
    padding: 0;
    margin: 0;
}

main{
    width: 100%;
    position: relative;
    height: 100vh;
    margin-top: 10px;

    & .blurBak{
        width: 100vw;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0 20px;
    }

    .blurBackground{
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        padding: 0 20px;
    }


    & .homeBtnParent{
        height: 120px;
        width: 120px;
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 1000;

        & .homeBtn{
            position: absolute;
            height: 70px;
            width: 70px;
            background: transparent;
            background-image: url('../img/home.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1000;
        }
    }

    & .firsPage{
        display: flex;
        flex-direction: column;
        background-image: url('../img/home.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 5px;

        & .objectBoxParent{
            width: 100%;
            height: 175px;
            display: flex;
            justify-content: center;
            align-items: center;

            & .objectBox{
                background: #e8e8e8;
                height: 100px;
                width: 300px;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3em;
                border: solid #000000 2px;
            }
        }

        & .btnBox{
            width: 100%;
            padding: 30px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;


            & .btnTwo{
                align-self: flex-end;
            }

            & .btnFour{
                align-self: flex-end;
            }

            button {
                width: calc(50% - 140px);
                font-size: 17px;
                border: none;
                border-radius: 0.75em;
                background-color: transparent;
                height: 70px;
            }
              
              .button_top {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.75em;
                background-image: url('../img/cover.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                color: #000000;
                transform: translateY(-0.2em);
                transition: transform 0.1s ease;
                height: 70px;
                text-decoration: none;
              }
              
              button:active .button_top {
                /* Push the button downwards when pressed */
                transform: translateY(0);
              }
        }
    }

    & .secondPage{
        background-image: url('../img/home.jpg');
        background-size: cover;
        width: 100%;
        height: calc(100vh - 30px);
        background-repeat: no-repeat;

        & .btns{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px;
            height: 80px;
            position: absolute;
            bottom: 30px;
            

            & button{
                border: none;
                outline: none;
                border-radius: 16px;
                margin-bottom: 20px;
            }

            & .nextBtn{
                height: 60px;
                width: 60px;
                background: transparent;
                background-image: url('../img/next.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            & .prevBtn{
                height: 60px;
                width: 60px;
                background: transparent;
                background-image: url('../img/back.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        & .objectBoxParent{
            width: 100%;
            height: 180px;
            display: flex;
            justify-content: center;
            margin-top: 20px;

            & .objectBox{
                background: #e8e8e8;
                height: 100px;
                width: 300px;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3em;
                border: solid #000000 2px;
            }
        }

        & .main{
            margin-top: -30px;
            width: 100%;
            height: 290px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 10px;

            & .textArea{
                background: #e8e8e8;
                padding: 10px 15px;
                border-radius: 16px;
                width: 350px;
                height: 250px;
                
                p{
                    direction: rtl;
                }
            }

            .startBtn {
                margin: 12px;
                height: 250px;
                width: 250px;
                border-radius: 100%;
                background: #333;
                justify-content: center;
                align-items: center;
                box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
                font-family: 'Damion', cursive;
                border: none;
                font-size: 2em;
                color: rgb(161, 161, 161);
                transition: 500ms;
              }
              
              .startBtn:hover {
                box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
                color: #d6d6d6;
                transition: 500ms;
              }
        }
    }

    & .thirdPage{
        background-image: url('../img/blackboard.jpg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        & .background{
            background-image: url('../img/B031.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 575px;
            width: 800px;
        }
    }

    & .startCourse{
        width: 100%;
        height: 100vh;
        background-image: url('../img/schoolClass.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;


        & .objectBoxParent{
            width: 100%;
            height: 180px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            & .objectBox{
                background: #e8e8e8;
                height: 80px;
                width: 300px;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3em;
                border: solid #000000 2px;
            }
        }

        & .btns{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 10px;
        }

        & .buttons{
            height: 300px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            gap: 5px;
        }

        & button{
            background: transparent;
            height: 60px;
            width: 200px;
            border: none;
            border-radius: 15px;
            font-size: 1.3em;
            background-image: url('../img/cover.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
        }

    }

    & .exam{
        background-image: url('../img/schoolClass.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        height: 100vh;

        & .rightContent{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            height: 100vh;
            padding: 20px 0;

            & .objectBoxParent{
                width: 100%;
                height: 180px;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                & .objectBox{
                    background: #e8e8e8;
                    height: 80px;
                    width: 400px;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.3em;
                    border: solid #000000 2px;
                }
            }

            & .buttons{
                height: 170px;
                width: 490px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 10px;
            }

            & label{
                height: 60px;
                width: 150px;
                border: none;
                border-radius: 15px;
                font-size: 1.3em;
                background-image: url('../img/cover.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                & span{
                    margin-left: 5px;
                }
            }

            & button{
                background: #e8e8e8;
                height: 60px;
                width: 150px;
                border-radius: 15px;
                font-size: 1.3em;
                border: solid #000000 2px;
            }

            & .doneBtn{
                width: 60px;
                border: none;
                background: transparent;
                position: absolute;
                bottom: 70px;
                right: 40px;
                background-image: url('../img/right.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                cursor: pointer;
            }
        }

        & .leftContent{
            width: 400px;
            height: calc(100vh - 200px);
            display: flex;
            align-items: center;
            flex-direction: column;

            .img{
                height: 200px;
                width: 200px;
                border-radius: 100%;
                background: red;
            }

            & .objectBoxParent{
                width: 100%;
                height: 180px;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                & .objectBox{
                    background: #e8e8e8;
                    height: 80px;
                    width: 400px;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.3em;
                    border: solid #000000 2px;
                }
            }
        }
    }
}

.backgrundIMG{
    background-image: url('../img/schoolClass2.jpg') !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.MuiPaper-root{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-dialog-title{
    text-align: center;
}

.dialogContent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000 !important;
}

.dBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75em;
    background-image: url('../img/cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 130px;
    font-size: 1.2em !important;
    color: white !important;
    text-decoration: none;
}

